<div class="row">
  <div class="col-md-4" *ngFor="let task of tasks" style="margin-bottom: 10px;">
    <div class="card" style="border-radius: 30px;">
      <div class="card-body" style="background-color: rgba(0,0,0,0.03);border-radius: 25px;">
        <h3 style="font-size: 1.2rem;font-weight: bold;color: #0079a1 !important;">{{task.name}}</h3>
        <p style="font-size: 0.9rem;">{{task.description}}</p>
      </div>
      <div class="card-footer" style="padding: 0.75rem 1.25rem;
            border-top: 1px solid rgba(0,0,0,0.125);
            border: 0px;border-radius: 25px;">
        Fecha: {{task.date | date: 'shortDate'}}
      </div>
    </div>
  </div>
</div>