.bg-sky{
    background-color: #0079a1 !important;
}


.navbar-light .navbar-nav .nav-link {
    color:#fff;
    font-size:0.9rem;
}

.navbar-light .navbar-brand {
    color: #fff
}

.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
    font-weight: bold;
}

.navbar-light .navbar-toggler{
    color:#fff !important;
}